.nav-link {
    transform: scale(1.0);
}

.nav-link:hover {
    transform: scale(1.1); 
}  

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    transition: transform 0.3s;
}

.navbar-nav:hover {
    transform: translateX(15px);
}

