<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMYK | REGISTRARME</title>
    {% load bootstrap5 %} {% load static %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="icon" href="{% static 'img/cmykLogo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/StyleProducto.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body class="d-flex justify-content-center align-items-center vh-100" style="background-color: rgb(253, 193, 193);">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-5 mb-5 ms-5 me-5 shadow rounded-5 bg-light-subtle">
                        <div class="d-flex justify-content-center mt-4">
                            <img src="{% static 'img/cmykLogo.png' %}" alt="login-icon" style="height: 8rem;" />
                        </div>
                        <h4 class="text-center fw-bold text-secondary"
                            style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">CREAR UNA
                            NUEVA CUENTA</h4>
                        <div class="card-body ms-4 me-4">
                            <form action="{% url 'registro' %}" method="POST" class="needs-validation" novalidate>
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group border-end-0">
                                        <div class="input-group-text rounded-start-4 bg-danger-subtle">
                                            <i class="bi bi-person-fill text-danger"></i>
                                        </div>
                                        <input type="text" class="form-control rounded-4 rounded-start-0" name="username"
                                            placeholder="Ingresa un nombre de usuario" style="height: 45px;" required>
                                        <div class="valid-feedback">
                                            Campo válido.
                                        </div>
                                        <div class="invalid-feedback">
                                            Por favor, ingresa tu nombre.
                                        </div>
                                    </div>
                                </div><br>
                                
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-text rounded-start-4 bg-danger-subtle">
                                            <i class="bi bi-envelope-fill text-danger"></i>
                                        </div>
                                        <input type="email" class="form-control rounded-4 rounded-start-0" id="email" name="email"
                                            placeholder="Ingresa tu correo electrónico" style="height: 45px;" required>
                                        <div class="valid-feedback">
                                            Campo válido.
                                        </div>
                                        <div class="invalid-feedback">
                                            Por favor, ingresa un correo electrónico válido.
                                        </div>
                                    </div>
                                </div><br>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-text rounded-start-4 bg-danger-subtle">
                                            <i class="bi bi-lock-fill text-danger"></i>
                                        </div>
                                        <input type="password" class="form-control rounded-4 rounded-start-0"
                                            id="password" name="password1" placeholder="Ingresa tu contraseña" style="height: 45px;"
                                            required>
                                        <div class="valid-feedback">
                                            Campo válido.
                                        </div>
                                        <div class="invalid-feedback">
                                            Por favor, ingresa una contraseña.
                                        </div>
                                    </div>
                                </div><br>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-text rounded-start-4 bg-danger-subtle ">
                                            <i class="bi bi-paperclip text-danger"></i>
                                        </div>
                                        <input type="password" class="form-control rounded-4 rounded-start-0"
                                            id="confirm-password" name="password2" placeholder="Confirma tu contraseña"
                                            style="height: 45px;" required>
                                        <div class="valid-feedback">
                                            Campo válido.
                                        </div>
                                        <div class="invalid-feedback">
                                            Por favor, confirma tu contraseña.
                                        </div>
                                    </div>
                                </div><br>
                                <button type="submit"
                                    class="btn btn-primary btn-block input-group rounded-4 btn-danger fw-bold"
                                    style="height: 45px;" onclick="validar()" value="validar">Registrate ahora</button>
                                <div class="">
                                    <p class="mt-3 input-group gap-2 justify-content-center text-secondary">¿Ya tienes
                                        una
                                        cuenta? <a class="fw-semibold fst-italic text-decoration-none" href="{% url 'login' %}">Iniciar Sesión</a>
                                </div>
                                <div class="mb-4">
                                    <div class="border-bottom text-center" style="height: 0.9rem;">
                                        <span class="bg-light-subtle px-1 text-secondary">o</span>
                                    </div>
                                </div>
                                <div class="btn d-flex gap-2 justify-content-center border mt-1 shadow-sm rounded-4">
                                    <img src="{% static 'img/buscar.png' %}" alt="google-icon"
                                        style="height: 1.6rem;" />
                                    <div class="fw-semibold text-secondary" onclick="redirigirGoogle()">Continuar con
                                        Google
                                    </div>
                                </div>
                            </form><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>